body {
    background-image: url('../img/Fondo.png');
}

.jumbotron{
    background-color:  #2b2b2b;
    color: white;
    margin-top: 70px;
}

.panel-heading{
    background-color: #2b2b2b !important; 
    color: white !important;
}

.panel-body{
    color: #2b2b2b !important;
}

.navbar{
    background-color: #2b2b2b !important; 
    box-shadow: 5px 5px 10px #555;
}

.navbar-brand:link, .navbar-brand:visited{
    color: deepskyblue !important;
}

.navbar-brand:hover, .navbar-brand:active{
    color: white !important;
}

#navbar li a:link, #navbar li a:visited{
    color: white !important;
    background-color: #2b2b2b !important;
}

#navbar li a:hover, #navbar li a:active{
    color: deepskyblue !important; 
}

.dropdown-menu{
    background-color: #2b2b2b !important;
}

.open > a{
    background-color: #2b2b2b !important;
}

#navbar li:hover > ul{
    display: block;
}

.list-group-item{
    padding-right: -15px !important;
    margin-right: 0px !important;
}



.Esconde{
    display: none !important;
}

.btn-primary {
	color: #fff !important;
	background-color: #2b2b2b !important;
	border-color: #2e6da4;
}

.btn-primary:hover{
	color: deepskyblue !important;
	background-color: #2f2f2f !important;
}

.Derecha {
	float: right !important;
	margin-right: 25px !important;
}

.Derechas {
	float: right !important;
	margin-top: 10px !important;
}

.Derechasss {
	float: right !important;
	margin-right: -133px !important;
	margin-top: 10px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}

input[type=number] { 
	-moz-appearance:textfield !important; 
}

.medio{
    display: flex !important;
}